.chat-item{
    display:block;
    text-align:left;
}

.chat-info{
    width: 252px;
    display: inline-block;
    margin-left: 10px;
}

.user-avatar{
    margin-top: 5px;
    vertical-align: top;
    width: 30px;
    height: 30px;
    background-color: #eeeeef;
}

.name{
    font-size: 14.5px;
    display: inline-block;
}

.time{
    font-family: Proxima Nova W01,Avenir Next W01,Avenir Next,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #8e939a;
    margin-left: 5px;
    display:inline-block;
}


